body{
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
   
}
.nav-item{
    position: relative;
    left: 40%;
    margin-left: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 13px;
    font-size: 16px;
}

#nav1{
    background-color: rgb(250, 252, 254);
    color: black;
    box-shadow: 2px 3px 3px rgb(183, 182, 182);
 
}
.head{
    margin:140px;
}
.btn1{
  border-radius:7px ;
    padding: 4px;
    width:120px;
    font-family: 'Times New Roman', Times, serif;
    margin: 7px;   
}
.btn1:hover{
    border-radius:7px ;
    padding: 4px;
    width:120px;
    font-family: 'Times New Roman', Times, serif;
    margin: 7px;
    border-style: hidden;
    background-color: black;
    color: rgb(255, 255, 255);

}
.btn2{
    border-radius:7px ;
    padding: 4px;
    width:120px;
    font-family: 'Times New Roman', Times, serif;
    margin: 7px;
    border-style: hidden;
    background-color: black;
    color: rgb(255, 255, 255);
}
.btn2:hover{
    border-radius:7px ;
    padding: 4px;
    width:120px;
    font-family: 'Times New Roman', Times, serif;
    margin: 7px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-style: solid;

}

#name{
    font-size: 70px;

}
.info{
    margin-left:30%;
    margin-left: 20%;
}
p{
    font-size: 17x;
}
#ser{
   margin-left:120px;
   margin-top: 60px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#ser1{
    font-weight: 1000px;
    font-size: 50px;
}
.head2{
    margin-left: 120px;
    margin-top: 80px;
}
.card-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 30px;
     text-align: center;
     
    
     
}
.card1{
    margin-left: 100px;
    margin-right: 100px;
    background-color:black;
    color: rgb(97, 100, 102);
    padding: 20px;
    border-radius: 10px;
}
.card-text1{
    font-size: 16px;
    font-weight: 50px;


}
header{
    background-image: url(istockphoto-1177980696-612x612.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.back{
    background-color: rgb(231, 232, 234);
}

footer{
    background-color: black;
    color: rgb(45, 44, 44);
    font-size: 20px;
    text-align: center;
    padding-bottom:5%;
}
h4,span{
    padding-top:6%;
}
.nav-item:after {
    content: "";
    position: absolute;
    display: block;
    border: 2px solid #000000;
    width: 100%;
    height: 0%;
    transition: all 0.5s ease;
    top: 100%;
  }
  
  .nav-item:hover::after {
    width: 100%;
    top: 0;
  }
 
